*{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
    overflow: hidden;
    transition: all ease-in-out .3s;
}

body {
    background-color: transparent;
}

.grid {
    height: 100%;
    width: 100%;
    background-color: violet;
    text-align: center;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    vertical-align: bottom;

}

#map {
    display: grid;
    grid-auto-flow: row;
    gap: 3px;
    width: 800px;
    height: 800px;
}