*{
    margin: 0%;
    padding: 0%;
    background-color: transparent;
}

body {
    background-color: transparent;
}

.grid {
    height: 40px;
    width: 5%;
    margin: 2px;
    background-color: violet;

}

#map {
    display: grid;
    grid-auto-flow: dense;
}